<%- include ../partials/postlogin-nav %>
<%- include ../partials/alert %>
<%- include ../partials/quote %>

<div class="div--container__journal container z-depth-3 fadein div--alpha">
  <div class="section">
    <div class="row">
      <div class="col s8">
        <span class="span--journal__title"> Your Entries
        </span>
      </div>
      <div class="col s3">
        <a href="/journal/new" class="gray-text"><i class="fa fa-pencil i--journal__new waves-effect waves-new waves-ripple" aria-hidden="true"></i>         
        <span class="hide-on-med-and-down span--journal__new">add entry</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <span class="span--journal__subtitle">
          click on an entry to view details
        </span>
      </div>
    </div>
  </div>
  <div class="section">

    <table class="striped bordered centered">

      <thead class="columns--journal">
        <th>Date</th>
        <th>Mood + Notes</th>
      </thead>

      <tbody class="rows--journal">

        <% posts.forEach(function(posts){ %> 

        <% var dateString = posts.dataValues.createdAt; %>
        <% var dateObj = new Date(dateString); %>
        <% var momentObj = moment(dateObj); %>
        <% var momentString = momentObj.format('MMM[.] Do[,] [\']YY') %>
        <% var postId = posts.dataValues.id; %>
        <% var postMood = posts.dataValues.mood %>
        <% var postNotes = posts.dataValues.notes %>

        <tr class="rows--journal__hover">
          <td><a href="/journal/view/<%= postId %>"><%= momentString %></a></td>
          <td><a href="/journal/view/<%= postId %>"><%= postMood + " + " + postNotes %></a></td>
        </tr>

         <%})%>

      </tbody>      
    </table>

  </div>
</div>

<%- include ../partials/documentEnd %>