<%- include ../partials/postlogin-nav %>
<%- include ../partials/quote %>

<div class="div--container__create container z-depth-3 fadein">
  <div class="section">
    <div class="row">
      <div class="col s11">
        <span class="span--single__title"> <%= moment((toString(post.dataValues.createdAt)).value).format("MMM Do YY"); %>
        </span>
      </div>
    </div>
    <div class="container">
      <div class="section">

            <div class="row div--single__row">
              <div class="input-field col s12">
                <p class="p--single__label">Where were you?</p>
                <p class="p--single__body"><%= post.location %></p>
              </div>
            </div>

            <div class="row div--single__row">
              <div class="input-field col s12">
                <p class="p--single__label">How did you feel this day?</p>
                <p class="p--single__body"><%= post.mood %></p>
              </div>
            </div>

            <div class="row div--single__row">
              <div class="input-field col s12">
                <p class="p--single__label">What was your intention or goal?</p>
                <p class="p--single__body"><%= post.goal %></p>
              </div>
            </div>
            <div class="row div--single__row">
              <div class="input-field col s9">
                <p class="p--single__label">3 things needed to be done that day:</p>
                <p class="p--single__label">1.</p>
                <p class="p--single__body"><%= post.priority1 %></p>
              </div>
            </div>

            <div class="row div--single__row">
              <div class="input-field col s9">
                <p class="p--single__label">2.</p>
                <p class="p--single__body"><%= post.priority2 %></p>
              </div>
            </div>

            <div class="row div--single__row">
              <div class="input-field col s9">
                <p class="p--single__label">3.</p>
                <p class="p--single__body"><%= post.priority3 %></p>
              </div>
            </div>

            <div class="row div--single__row">
              <div class="input-field col s12">
                <p class="p--single__label">Any additional musings that came to mind...</p>
                <p class="p--single__body"><%= post.notes %></p>
              </div>
            </div>


<!--             <div class="row">
              <div class="col s9">
                <a id="a--input__submit" class="btn-large btn--create waves-effect waves-plum waves-ripple"><i class="fa fa-plus-circle i--circle__create" aria-hidden="true"></i>Post</a>
              </div>
            </div> -->
      </div>
    </div>
  </div>
</div>